/** 修改data Grid 边框颜色 **/
.panel-header,
.panel-body {
    border-color: #dddddd;
}

/** 修改grid表格边框为实线, 颜色 **/
.datagrid-header td,
.datagrid-body td,
.datagrid-footer td {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #dddeee;
    margin: 0;
    padding: 0;
}
/*表头高度默认为30px*/
.datagrid-header-row,
.datagrid-row{
    height: 30px;
}
.datagrid-header{
    background: url(../img/table-header-bg.png) repeat-x bottom;
}