.tableDiv3 {
    border: 1px solid #dddeee;
    width: 99%;
    font-size: 12px;
    margin-left: 5px;
}

.noFixedThree {
    overflow-x: scroll;
    overflow-y: hidden;
}

.noFixedThree2 {
    float: left;
    overflow-x: scroll;
    overflow-y: scroll;
}

.fixedThree {
}

.fixedThree2 {
    overflow-x: hidden;
    overflow-y: scroll;
}

.oneTable2 td,.oneTable3 td,.twoTable2 td,.twoTable3 td {
    white-space: nowrap;
}

.oneTable2 thead tr td,.oneTable3 thead tr td,.twoTable2 thead tr td,.twoTable3 thead tr td {
    border-right: 1px solid #dddeee;
    text-align: center;
    background: url("../../static/img/table-header-bg.png");
    background-size: 500px 52px;
    border-collapse: collapse;
}

.oneTable2 thead tr,.oneTable3 thead tr,.twoTable2 thead tr,.twoTable3 thead tr {
    border-bottom: 1px solid #dddeee;
}

.oneTable2 tbody tr td,.oneTable3 tbody tr td,.twoTable2 tbody tr td,.twoTable3 tbody tr td {
    border-bottom: 1px solid #dddeee;
    border-right: 1px solid #dddeee;
    height: 32px;
    border-bottom: none;
}

.oneTable2 tbody tr,.oneTable3 tbody tr,.twoTable2 tbody tr,.twoTable3 tbody tr{
    border-bottom: 1px solid #dddeee;
}

.tda {
    width: 150px;;
}

.tda2 {
    width: 70px;;
}

.tda3 {
    width: 100px;;
}

.oneTable2 {
    width: 720px;
}

.twoTable2 {
    width: 800px;
    float: left;
}

.oneTable2 thead tr td {
    height: 30px;
}

.twoTable2 thead tr td {
    height: 30px;
}