.salesDiv{
    border: 1px solid #dddeee;
    font-size: 12px;
}
.bodyDiv{
    overflow-y :scroll;
    overflow-x :hidden;
}
.tablehead {
    border-right: 1px solid #dddeee;
    border-bottom: 1px solid #dddeee;
}

.tablehead td {
    border-bottom: 1px solid #dddeee;
    border-right: 1px solid #dddeee;
    border-collapse: collapse;
    line-height: 16px;
    text-align: center;
    background: url("../../static/img/table-header-bg.png");
    height: 30px;
}

.tablebody {
    border: 1px solid #dddeee;
    border-collapse: collapse;
    line-height: 16px;
    border-top: none;
}

.tablebody td {
    border: 1px solid #dddeee;
    border-collapse: collapse;
    line-height: 16px;
    text-align: center;
    height: 30px;
    border-bottom: none;
}

.tablebody  tr:nth-child(2n){
    background-color: #faf9f9;
}

.tablebody tr:hover,.tablebody  tr:nth-child(2n) > td:hover{background-color:#ebf3ff }

.footDiv{
    position: relative;
    background-color: #f0f0f0;
    margin-bottom: 0px;
    height: 30px;
    width: 100%;
}
.salesTable td ,.salesTable2 td {
    white-space: nowrap;
}
.tdWidth1{
    width: 30px;
}
.tdWidth2{
    width: 170px;
}
.tdWidth3{
    width: 170px;
}
.tdWidth4{
    width: 250px;
}
.tdWidth5{
    width: 143px;
}
.tdWidth6{
    width: 143px;
}
.tdWidth7{
    width: 100px;
}
.tdWidth8{

}
.tdWidth9{
    width: 175px;
}
.tdWidth10{
    width: 143px;
}