<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 开启缓存支持 -->
        <setting name="cacheEnabled" value="true" />
        <!-- 字段为空Null, 解决oracle 无效的列类型: 1111; -->
        <!--<setting name="jdbcTypeForNull" value="NULL" />-->
    </settings>

	<typeAliases>
	</typeAliases>

    <!--
    plugins在配置文件中的位置必须符合要求，否则会报错，顺序如下:
    properties?, settings?,
    typeAliases?, typeHandlers?,
    objectFactory?,objectWrapperFactory?,
    plugins?,
    environments?, databaseIdProvider?, mappers?
    -->
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.boyoi.mybatis.pagehelper.PageHelper">
            <!-- 方言  支持oracle,mysql -->
            <property name="dialect" value="mysql"/>
        </plugin>
        <!-- 操作日志 -->
        <plugin interceptor="com.boyoi.core.utils.optlog.OptLog">
            <property name="enable" value="yes"/>
        </plugin>
    </plugins>

    <mappers>
    </mappers>

</configuration>