<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd ">

    <!-- turn on declarative caching-->
    <context:property-placeholder location='classpath:/redis.properties'/>
    <!--<cache:annotation-driven />-->

    <!-- Jedis ConnectionFactory-->
    <bean id='jedisConnectionFactory'
          class='org.springframework.data.redis.connection.jedis.JedisConnectionFactory'>
        <property name="hostName" value="${redis.Host}"/>
        <property name="port" value="${redis.Port}"/>
        <property name="usePool" value="true"/>
        <property name="password" value="${redis.password}"/>
        <!-- 指定redis数据库-->
        <property name="database" value="${redis.database}"/>
    </bean>

    <!-- redis template definition -->
    <bean id='redisTemplate'
          class='org.springframework.data.redis.core.RedisTemplate'>
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
    </bean>

    <!-- declare Redis Cache Manager-->
    <bean id='cacheManager'
          class='org.springframework.data.redis.cache.RedisCacheManager'>
        <constructor-arg name="redisOperations" ref="redisTemplate"/>
    </bean>

    <!-- gridRequest key生成器 -->
    <bean id="gridRequestKeyGen" class="com.boyoi.core.utils.GridRequestKeyGenerator"/>

    <!-- 自定义列 key生成器 -->
    <bean id="customColumnKeyGen" class="com.boyoi.core.utils.CustomColumnKeyGenerator"/>

</beans>