/*2016-3-23*/
body{
    line-height:1.4;
    background:white;
}
body,input,textarea,select{
    font-size:12px;
}
body,h1,h3,h4,p,ul,ol{
    margin:0;
}
ul,ol{
    padding-left:0;
    list-style-type:none;
}
.fa{position: relative;}
/*image with no-border*/
a img{border:0;}

/*link*/
a:link{color:#000;text-decoration:none;}
a:visited{color:#000;text-decoration:none;}
a:hover{color:#000;text-decoration:none;}
a:active{color:#000;text-decoration:none;}

a.lnkGreen{color:#d7edea;}
/*三角形*/
.triangle-up {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #ff9000;
    position: absolute;
    top: 2px;
    left: 70px;
}
.triangle-down {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid #ff9000;
    position: absolute;
    top: 2px;
    left: 70px;

}
.triangle-topright {cursor: pointer;
    border-top: 8px solid #ff9000;
    border-left: 8px solid transparent;
    position: absolute;
    top: 1px;
    right: 1px;
}
.triangle-topright2 {cursor: pointer;
    border-top: 8px solid #e8d04a;
    border-left: 8px solid transparent;
    position: absolute;
    top: 1px;
    right: 1px;
}
/*页面样式*/
.tableContainer{width: 1121px;overflow: hidden;padding: 4px;}
.tableContainer .Container{margin-top: 18px;width: 1121px;}
.tableContainer .Container .line {height: 1px;width:1020px; background-color: #bcbcbc; float: right;margin-top: 20px}
.tableContainer .Container .name{font-size: 14px;font-weight: bold;line-height: 40px; cursor: pointer;position: relative;}
.tableContainer .Container .name span{margin-left: 6px;}
/*常用表格*/

.tabn{border:1px solid #bcbcbc;border-left:0px;border-right:0px;border-collapse:collapse;line-height:44px;}
.tabn thead .headStyle {text-align:center;border:none;border-collapse:collapse;}
.tabn thead .headStyle td{background:#ebebeb;color:#000;font-size:12px;text-align:center;border:1px solid #bcbcbc;border-left:0px;border-collapse:collapse;}
.tabn thead .headStyle1 {text-align:center;border:none;border-collapse:collapse;}
.tabn thead .headStyle1 td{background:#ebebeb;color:#000;font-size:12px;text-align:center;border:1px solid #bcbcbc;border-collapse:collapse;}
.tabn tbody .bodyStyle1{text-align:left;border:1px solid #bcbcbc;border-collapse:collapse;}
.tabn tbody .bodyStyle1 td{background:#fff;color:#000;font-size:12px;border:1px solid #bcbcbc;border-collapse:collapse;line-height:20px;padding-left: 4px;}
.tabn tbody .bodyStyle2{text-align:left;border:none;border-collapse:collapse;}
.tabn tbody .bodyStyle2 td{background:#fff;color:#000;font-size:12px;border:1px solid #bcbcbc;border-left:0px;border-collapse:collapse;line-height:20px;padding:4px;}
.tabn thead .headStyle .tdnb{border-right:0px;}
.tabn tbody .bodyStyle1 .tdnb{border-right:0px;}
.tabn tbody .bodyStyle2 .tdnb{border-right:0px;}
.instructions{position: absolute;left: 396px;}
.instructions .con{padding: 10px;  border-radius: 0px 5px 5px 5px ;background-color: #e8d04a;color: #000;display: inline-block;}